body {
  font-family: sans-serif;
  background: #f8f4e3;
  color: #222;
  padding: 20px;
}
h1 {
  color: #222;
}
input {
  padding: 10px;
  width: 250px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
  padding: 10px 15px;
  margin: 10px;
  background: #ffe066;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}
#decodeResults {
  margin-top: 15px;
  font-weight: bold;
}